@{
    ViewBag.Title = "Index";
}
<body ng-app>
    <h2>
        Index {{1+1}}
    </h2>
</body>
<ul>
    <li>@ViewBag.OnAuthorization</li>
    <li>@ViewBag.OnActionExecuting</li>
    <li>@ViewBag.OnActionExecuted</li>
    <li>@ViewBag.OnResultExecuting</li>
    <li>@ViewBag.OnResultExecuted</li>
</ul>